/* SignUpForm.css */

.signup-container {
  position: relative;
  max-width: 600px;
  margin: 40px auto;
  padding: 2rem;
}

@media (min-width: 1200px) {
  /* desktops */
  .signup-container {
    max-width: 800px;
  }
}

/* Content styles */
.signup-content {
  position: relative;
  z-index: 1;
}

/* Form field customization */
.signup-container .euiFieldText {
  background-color:  var(--color-main-background);
  box-shadow: inset 0 0 0 1px var(--color-light-light-shade);
  border-radius: 2px;
}

.signup-container .euiFieldText:focus {
  background-color: var(--color-main-background-dark-shade);
}

/* Button customization */
.signup-container .euiButton {
  background-color: var(--color-main-button-start-game);
  border: none;
  color: var(--color-light-light-shade);
  border-radius: 2px;
}

.signup-container .euiButton:hover {
  background-color: #0a56c0;
}

@media (min-width: 768px) {
  /* tablets */
  .signup-container .euiTitle {
    margin-top: 100px
  }

  .signup-container .euiText {
    text-align: center;
  }

  .signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .signup-container .euiFieldText {
    width: 600px;
  }

  .signup-container .euiButton {
    padding: 23px
  }
}

@media (min-width: 1200px) {
  /* desktops */
}